body{
    background:lightgray;
   
}
h1{
    margin-right: 50%;
    font-family:OCR A Std, monospace;

}

.container{
    text-align:center;

   
}
td{
   text-align: center;
   font-family:courier;
   color:black;
}

i{
 color:rgb(246, 246, 94);
}